<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../bower_components/polymerfire/firebase-common-behavior.html">
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-admin">
  <template>
    <style media="screen">
      body {
        font-family: Roboto, sans-serif;
        padding: 36px;
      }
      table {
        margin: 24px 0;
        border: 1px solid #ccc;
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
        border-bottom: 1px solid #ccc;
      }
      th {
        text-align: right;
      }
      button {
        background: #2196F3;
        color: white;
        border: 0;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 8px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
      }
      input {
        padding: 8px;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        border: 1px solid #ddd;
        display: block;
        max-width: 300px;
        margin-bottom: 8px;
      }
      .error {
        background: #f44336;
        color: white;
        padding: 8px;
        font-size: 14px;
        border-radius: 3px;
        margin: 16px auto;
        max-width: 800px;
      }
    </style>
    <dom-bind>
      <template>
        <firebase-auth id="auth" user="{{user}}" provider="google" on-error="handleError">
        </firebase-auth>
        <div class="error" hidden$="[[!error]]">[[error.code]]: [[error.message]]</div>
        <div hidden$="[[user]]">
          <h3>Email/Password</h3>
          <form on-submit="signInWithEmailAndPassword">
            <input value="{{email::input}}" type="email" placeholder="Email">
            <input value="{{password::input}}" type="password" placeholder="Password">
            <button type="submit" on-tap="signInWithEmailAndPassword">Sign In</button>
            <button type="button" on-tap="createUserWithEmailAndPassword">Sign Up</button>
          </form>
          <h3>Anonymous/OAuth</h3>
          <p>
            <button on-tap="signInAnonymously">Sign In Anonymously</button>
            <button on-tap="signInWithGoogle">Sign In With Google</button>
          </p>
        </div>
        <div hidden$="[[!user]]">
          <table>
            <tr><th>uid</th> <td>[[user.uid]]</td></tr>
            <tr><th>displayName</th> <td>[[user.displayName]]</td></tr>
            <tr><th>email</th> <td>[[user.email]]</td></tr>
            <tr><th>emailVerified</th> <td>[[user.emailVerified]]</td></tr>
          </table>
          <button on-tap="signOut">Sign Out</button>
        </div>
      </template>
    </dom-bind>
  </template>

  <script type="text/javascript">
    document.addEventListener('WebComponentsReady', function() {
      var app = document.getElementById('app');
      app.error = null;
      app.showError = function(e) {
        this.error = e.detail;
      };
      app.signInAnonymously = function() {
        this.error = null;
        this.$.auth.signInAnonymously();
      };
      app.signInWithGoogle = function() {
        this.error = null;
        this.$.auth.signInWithPopup();
      };
      app.signInWithEmailAndPassword = function(e) {
        if (e) { e.preventDefault(); }
        this.error = null;
        this.$.auth.signInWithEmailAndPassword(this.email, this.password);
        this.email = null;
        this.password = null;
      };
      app.createUserWithEmailAndPassword = function() {
        this.error = null;
        this.$.auth.createUserWithEmailAndPassword(this.email, this.password);
        this.email = null;
        this.password = null;
      };
      app.signOut = function() {
        this.error = null;
        this.$.auth.signOut();
      };
    });
    class Admin extends Polymer.Element {
      static get is() { return 'my-admin'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(Admin.is, Admin);
  </script>
</dom-module>
