<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../bower_components/polymerfire/firebase-storage-ref.html">
<link rel="import" href="../bower_components/polymerfire/firebase-storage-multiupload.html">
<link rel="import" href="../bower_components/polymerfire/firebase-storage-upload-task.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-upload">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style>
      :host {
        --app-primary-color: #3bc48b;
        --app-secondary-color: black;

        display: block;
      }
    </style>

    <h1>Upload Memes</h1>

    <template is="dom-if" if="{{user}}">
      <firebase-storage-multiupload
        id="fs"
        path="/users/{{user.uid}}/files"
        upload-tasks="{{uploadedFiles}}"
        on-error="catchError"
        force-unique>
      </firebase-storage-multiupload>

      <input id="file-uploader" type="file" multiple /> <br>

      <button on-tap="upload">Upload</button> 
    </template>

    <br>

    <template is="dom-repeat" items="[[uploadedFiles]]">
      <div style="padding: 20px">
        <firebase-storage-upload-task
          task="[[item]]"
          id="task-[[index]]"
          bytes-transferred="{{item.bytesTransferred}}"
          total-bytes="{{item.totalBytes}}"
          state="{{item.state}}"
          download-url="{{item.downloadUrl}}"
          metadata="{{item.metadata}}"
          path="{{item.path}}">
        </firebase-storage-upload-task>

        path from snapshot: [[item.snapshot.ref.fullPath]] <br>
        path from upload-task: [[item.path]] <br>
        storage uri: [[gsUri]] <br>
        state: [[item.state]] <br>
        metadata-contentType: [[item.metadata.contentType]] <br>

        <br>

        <template is="dom-if" if="[[!isEqual(item.state, 'success')]]">
          <paper-progress
            value="{{item.bytesTransferred}}"
            min="0"
            max="{{item.totalBytes}}">
          </paper-progress>
        </template>

        <br>

        <template is="dom-if" if="{{isEqual(item.state, 'success')}}">
          <firebase-storage-ref
            path="{{item.path}}"
            storage-uri="{{gsUri}}"
            id="ref-[[index]]"
            metadata="{{item.refMetadata}}"
            download-url="{{item.refDownloadUrl}}">
          </firebase-storage-ref>

          <a href="{{item.refDownloadUrl}}">{{item.refDownloadUrl}}</a> <br>

          <button on-tap="download" value="{{index}}">Download</button>

          <button on-tap="deleteFile" value="{{index}}">Delete</button>
        </template>

        <template is="dom-if" if="[[!isEqual(item.state, 'success')]]">
          <template is="dom-if" if="[[isEqual(item.state, 'running')]]">
            <button on-tap="cancel" value="{{index}}">Cancel</button>
            <button on-tap="pause" value="{{index}}">Pause</button>
          </template>

          <template is="dom-if" if="[[isEqual(item.state, 'paused')]]">
            <button on-tap="resume" value="{{index}}">Resume</button>
          </template>
        </template>

        <br>
      </div>
      <paper-toast id="toaster"></paper-toast>
    </template>
  </template>
  <script>
    class Upload extends Polymer.Element {
      static get is() { return 'my-upload'; }
      static get properties() {
          rootPath: String
        };
      }
    window.customElements.define(Upload.is, Upload);
  </script>
</dom-module>