
<link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/iron-ajax/iron-ajax.html">
<link rel="import" href="js/databasetools.js">

<dom-module id="my-work">
    <template>
        <iron-ajax
            id="dowork"
            url="https://memeservices.com/api/dowork"
            params='{"type":"all"}'
            handle-as="json"
            on-response="check-message">
        </iron-ajax>
    </template>

    <script>
        terms = ["im done here", "still gotta", "is all"];
        Polymer({
            is: 'check-message',
            properties: {
                messageData: {
                    type: JSON
                }
            },
            ready: function () {
                this.$.checkMessage(messageData);
                this.$.generateRequest()
            },
            checkMessage: function (messageData) {
                if( terms.includes(messageData.message_text))
                    return true;
                else 
                    return false
            },
            checkMessage: function (command, data) {
                terms['add'];
                if(terms.includes(command) && data.user=='andrewfree')
                {
                    username = data.user;
                    message = data.message;
                    shouldAdd = checkMessage(message)
                    if(shouldAdd == True)
                        addMessageCount(user, message)
                }
            }
        });
    </script>
</dom-module>